<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>21234871773-v53333ehg1imrqt3pki35rtg0ub2un5k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.21234871773-v53333ehg1imrqt3pki35rtg0ub2un5k</string>
	<key>API_KEY</key>
	<string>AIzaSyCAmWhdX2ZTmRN9dwzH-ooI30jM10Sxjus</string>
	<key>GCM_SENDER_ID</key>
	<string>21234871773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gooddatalab.studyWiseSaying</string>
	<key>PROJECT_ID</key>
	<string>study-wisesaying</string>
	<key>STORAGE_BUCKET</key>
	<string>study-wisesaying.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:21234871773:ios:ec0b4a65d8601e770c1a34</string>
</dict>
</plist>